@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
    font-family: 'Inter-Medium';
    src: url('../assets/fonts/Inter-Medium.ttf');
}

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;

    @apply select-none;

    @apply bg-transparent;

    @apply font-interMedium;

    @apply overflow-hidden;
  }
  header {
    -webkit-app-region: drag;
  }
  button {
    -webkit-app-region: no-drag;
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#555] rounded-md;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
}

